.header {
  background: var(-color-text-primary);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  align-items: center;
}

.header strong {
  margin-left: 0.35rem;
  font-size: 1.45rem;
}
